<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library_v1._2.Properties.Settings.libraryConnectionString"
            connectionString="Data Source=LAPTOP-NJT7QHD1\SQLEXPRESS;Initial Catalog=library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>